html {
  font-family: Helvetica;
}

body {
  margin: 0px;
}

header {
    display: flex;
    height: 64px;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 0px;
    z-index: 1;
    width: 100%;
}

/* Navigation */

.logo {
  display: flex;
  flex-grow: 1;
  margin-left: 32px;
  align-items: center;
}

.logo img {
  height: 32px;
  width: auto;
}

.logo .logo-black {
  font-weight: bold;
  margin: 0px 3px;
}

nav span {
  margin-left: 16px;
}

nav ul {
  margin-right: 24px;
}

.content {
}


/* Main banner */

.main-banner {
  display: flex;
  background-color: #E3E5E5;
  margin-top: 64px;
  justify-content: flex-start;
}

.image {
  width: 50%
}

.image img {
  width: 100%;
  height: auto;
  margin: 32px 24px;
}

.main-banner .text {
  align-self: center;
  text-align: left;
  margin-left: 80px;
}

.text h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  color: #40403E;
}

.text .subheading {
  color: grey;
  font-size: 20px;
  line-height: 1.5em;
}

.button {
  background-color: #40403E;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  transition-duration: 0.4s;
}

.button span {
  display: inline-block;
  color: lightgrey;
  padding: 12px 0px;
  color: white;
}

.button:hover {
  border: 1px solid #7E7F7F;
  background-color: #FCFFFF
}

.button span:hover {
  color: #7E7F7F;
}

/* Keep Practising */

.keep-practising {
  padding-top: 32px;
  margin-bottom: 32px;
  display: flex;
  background-color: #FCFFFF;
}

.keep-practising .column1 {
  display: flex;
  flex-direction: column;
}

/* Column 1 */

.column1 {
  margin-left: 24px;
  margin-right: 24px;
  width: 50%;
}

.column1 img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.column1 h2 {
  font-size: 30px;
  font-weight: bold;
  color: #40403E;
  margin-bottom: 24px;
}

.practising-text {
  width: 95%;
  padding-left: 10px;
}

.quotemaker {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 13px;
  color: #7E7F7F;
}

.subheading {
  color: #7E7F7F;
}

/* Column 2 */

.column2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.practising-card {
  display: flex;
}

.practising-card img {
  width: 35%;
  height: 35%;
  margin: 0px 16px 16px 16px;
}

.practising-card img:nth-child(1n+0) {
  margin-top: 16px;
}

.practising-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #40403E;
  margin-bottom: 14px;
}

.practising-card .card-title {
  font-size: 14px;
  margin-bottom: 14px;
  color: #7E7F7F;
  line-height: 1.5em;
}

.practising-card .readmore {
  font-size: 14px;
  color: blue;
}

.cards-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 16px;
}

.practising-card:hover {
  background-color: #E3E5E5;
}

/* Start learning */

.start-learning {
  background-color: #E3E5E5;
}

.learning-title {
  padding: 32px 0px;
}

.learning-title h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #40403E;
}

.career-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
}

.career-cards img {
  width: 320px;
  height: auto;
}

.career-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 15px;
  width: 320px;
}

.career-text {
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  height: 180px;
}

.career-text h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 16px;
  color: #40403E;
}

.courses, .career-description {
  font-size: 15px;
  font-weight: lighter;
}

.courses {
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  font-weight: 200;
  color: #7E7F7F;
  font-size: 14px;
}

.career-description {
  margin-bottom: 24px;
  display: inline-block;
  line-height: 1.5em;
  font-weight: lighter;
  color: #7E7F7F;
  font-size: 14px;
}


/* Thesis Exhibit */

.thesis-exhibit {
  padding: 60px 0px;
  background-color: #FCFFFF;
}

.thesis-exhibit h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #40403E;
  margin-bottom: 60px;
}

.thesis-flex {
  display: flex;
}

.column-video1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 40px;
}

.column-video2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.video-description {
  width: 80%;
  padding-left: 10px;
}

.video-description h4 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 16px;
  color: #40403E;
}

.video-description span {
  color: #7E7F7F;
  line-height: 1.5em;
}

.video-card {
  display: flex;
}

.video-card:hover {
  background-color: #E3E5E5;
}

.video-card img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.video-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  line-height: 1.5em;
}

.video-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #40403E;
  margin-bottom: 14px;
}

/* Footer */

footer {
  display: flex;
  border-top: 1px solid #F5F7F7;
  height: 50px;
}

.copyright {
  flex-grow: 1;
  padding-left: 24px;
  padding-top: 16px;
  font-size: 12px;
  color: #D1D4D4;
}

.terms-privacy {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
  padding-top: 16px;
  color: #D1D4D4;
}

.terms-privacy span {
  margin-left: 10px;
}

/* Responsive */
