html {
  font-family: Helvetica;
}

body {
  margin: 0px;
}

header {
    display: flex;
    height: 64px;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 0px;
    z-index: 1;
    width: 100%;
}

/* Navigation */

.logo {
  display: flex;
  flex-grow: 1;
  margin-left: 32px;
  align-items: center;
}

.logo img {
  height: 32px;
  width: auto;
}

.logo .logoblack {
  font-weight: bold;
  margin: 0px 3px;
}

nav span {
  margin-left: 16px;
}

nav ul {
  margin-right: 24px;
}

.content {
}


/* Main banner */

.mainbanner {
  display: flex;
  background-color: #E3E5E5;
  margin-top: 64px;
  justify-content: flex-start;
}

.image {
  width: 50%
}

.image img {
  width: 100%;
  height: auto;
  margin: 32px 24px;
}

.mainbanner .text {
  align-self: center;
  text-align: left;
  margin-left: 80px;
}

.text h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  color: #40403E;
}

.text .subheading {
  color: grey;
  font-size: 20px;
}

.button {
  background-color: #40403E;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.button span {
  display: inline-block;
  color: lightgrey;
  margin: 8px 0px;;
  color: white;
}

/* Keep Practising */

.keeppractising {
  padding-top: 32px;
  display: flex;
  background-color: #FCFFFF;
}

.keeppractising .column1 {
  display: flex;
  flex-direction: column;
}

/* Column 1 */

.column1 {
  margin-left: 24px;
  margin-right: 24px;
  width: 50%;
}

.column1 img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.column1 h2 {
  font-size: 30px;
  font-weight: bold;
  color: #40403E;
  margin-bottom: 24px;
}

.quotemaker {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 13px;
  color: #7E7F7F;
}

.subheading {
  color: #7E7F7F;
}

/* Column 2 */

.column2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.practisingcard {
  display: flex;
}

.practisingcard img {
  width: 35%;
  height: 35%;
  margin: 0px 16px 16px 16px;
}

.practisingcard img:nth-child(1n+0) {
  margin-top: 16px;
}

.practisingcard h3 {
  font-size: 20px;
  font-weight: bold;
  color: #40403E;
  margin-bottom: 14px;
}

.practisingcard .cardtitle {
  font-size: 14px;
  margin-bottom: 14px;
  color: #7E7F7F;
  line-height: 1.5em;
}

.practisingcard .readmore {
  font-size: 14px;
  color: blue;
}

.cardstext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 16px;
}

.practisingcard:hover {
  background-color: #E3E5E5;
}

/* Start learning */

.startlearning {
  background-color: #E3E5E5;
}

.learningtitle h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 32px;
  margin-top: 32px;
  color: #40403E;
}

.careercards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
}

.careercards img {
  width: 320px;
  height: auto;
}

.careercard {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 15px;
  width: 320px;
}

.careertext {
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  height: 180px;
}

.careertext h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #40403E;
}

.courses, .careedescription {
  font-size: 15px;
  font-weight: lighter;
}

.courses {
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  font-weight: 200;
  color: #7E7F7F;
  font-size: 14px;
}

.careedescription {
  margin-bottom: 24px;
  display: inline-block;
  line-height: 1.5em;
  font-weight: lighter;
  color: #7E7F7F;
  font-size: 14px;
}
